In [186]:
import pandas as pd 
import numpy as np

In [187]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [188]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [189]:
newmovies = movies.merge(credits,on='title')

In [190]:
newmovies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [191]:
mainpage = newmovies[['movie_id','title','overview','genres', 'keywords','cast','crew']]
mainpage

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [192]:
mainpage.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [193]:
# genres
# id (for html)
# keywords
# title
# overview
#  cast
# crew

In [194]:
mainpage.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [195]:
mainpage.dropna(inplace=True)

C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/1871076369.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mainpage.dropna(inplace=True)

In [196]:
mainpage.duplicated().sum()

0

In [197]:
mainpage.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [198]:
import ast
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [199]:
mainpage['genres'] = mainpage['genres'].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [200]:
mainpage.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [201]:
mainpage['keywords'] = mainpage['keywords'].apply(convert)

C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/2185472625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mainpage['keywords'] = mainpage['keywords'].apply(convert)

In [202]:
mainpage.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [203]:
import ast
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [204]:
mainpage['cast'] = mainpage['cast'].apply(convert3)

C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/182374576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mainpage['cast'] = mainpage['cast'].apply(convert3)

In [205]:
import ast
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [206]:
mainpage['crew'] = mainpage['crew'].apply(fetch_director)

C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/634490956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mainpage['crew'] = mainpage['crew'].apply(fetch_director)

In [207]:
mainpage

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[united statesâ€“mexico barrier, legs, arms, pap...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[Edward Burns, Kerry BishÃ©, Marsha Dietlein]",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[date, love at first sight, narration, investi...","[Eric Mabius, Kristin Booth, Crystal Lowe]",[Scott Smith]
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton]",[Daniel Hsia]
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[obsession, camcorder, crush, dream girl]","[Drew Barrymore, Brian Herzlinger, Corey Feldman]",[Brian Herzlinger]

In [208]:
mainpage['overview'] = mainpage['overview'].apply(lambda x:x.split())

C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/2869695635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mainpage['overview'] = mainpage['overview'].apply(lambda x:x.split())

In [209]:
mainpage

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[united statesâ€“mexico barrier, legs, arms, pap...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[Edward Burns, Kerry BishÃ©, Marsha Dietlein]",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[date, love at first sight, narration, investi...","[Eric Mabius, Kristin Booth, Crystal Lowe]",[Scott Smith]
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton]",[Daniel Hsia]
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...","[{""id"": 99, ""name"": ""Documentary""}]","[obsession, camcorder, crush, dream girl]","[Drew Barrymore, Brian Herzlinger, Corey Feldman]",[Brian Herzlinger]

In [210]:
mainpage['genres'] = mainpage['genres'].apply(lambda x:[i.replace(" ","") for i in x ])
mainpage['keywords'] = mainpage['keywords'].apply(lambda x:[i.replace(" ","") for i in x ])
mainpage['cast'] = mainpage['cast'].apply(lambda x:[i.replace(" ","") for i in x ])
mainpage['crew'] = mainpage['crew'].apply(lambda x:[i.replace(" ","") for i in x ])

C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/3828352792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mainpage['genres'] = mainpage['genres'].apply(lambda x:[i.replace(" ","") for i in x ])
C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/3828352792.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mainpage['keywords'] = mainpage['keywords'].apply(lambda x:[i.replace(" ","") for i in x ])
C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/3828352792.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mainpage['cast'] = mainpage['cast'].apply(lambda x:[i.replace(" ","") for i in x ])
C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/3828352792.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mainpage['crew'] = mainpage['crew'].apply(lambda x:[i.replace(" ","") for i in x ])

In [211]:
mainpage

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[unitedstatesâ€“mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez]
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[[, {, "", i, d, "", :, , 3, 5, ,, , "", n, a, m,...",[],"[EdwardBurns, KerryBishÃ©, MarshaDietlein]",[EdwardBurns]
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[[, {, "", i, d, "", :, , 3, 5, ,, , "", n, a, m,...","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith]
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...","[[, ]]",[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia]
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...","[[, {, "", i, d, "", :, , 9, 9, ,, , "", n, a, m,...","[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]",[BrianHerzlinger]

In [212]:
mainpage['tags'] = mainpage['overview'] + mainpage['genres'] + mainpage['keywords'] + mainpage['cast'] + mainpage['crew']

C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/331110282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mainpage['tags'] = mainpage['overview'] + mainpage['genres'] + mainpage['keywords'] + mainpage['cast'] + mainpage['crew']

In [213]:
mainpage

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[unitedstatesâ€“mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez],"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[[, {, "", i, d, "", :, , 3, 5, ,, , "", n, a, m,...",[],"[EdwardBurns, KerryBishÃ©, MarshaDietlein]",[EdwardBurns],"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[[, {, "", i, d, "", :, , 3, 5, ,, , "", n, a, m,...","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith],"[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...","[[, ]]",[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia],"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...","[[, {, "", i, d, "", :, , 9, 9, ,, , "", n, a, m,...","[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]",[BrianHerzlinger],"[Ever, since, the, second, grade, when, he, fi..."

In [214]:
new_df = mainpage[['movie_id','title','tags']]

In [215]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [216]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [217]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [218]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a paraplegic marine is di...

In [219]:
import nltk

In [220]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [221]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [222]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\e053544\AppData\Local\Temp/ipykernel_7492/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [223]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [224]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [225]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [226]:
from sklearn.metrics.pairwise import cosine_similarity

In [227]:
simlarty = cosine_similarity(vectors)

In [228]:
sorted(simlarty[0], reverse=True)

[1.0,
 0.25142264225703365,
 0.24404676504598818,
 0.21613144789263333,
 0.20812378052829614,
 0.20797258270192573,
 0.2045239970259654,
 0.19926334924652142,
 0.1980295085953348,
 0.19474520942613002,
 0.18981415059132414,
 0.17503501050350123,
 0.16977493752543305,
 0.16516802780306677,
 0.1647705109143269,
 0.16169041669088866,
 0.15877683720748892,
 0.1569197342897824,
 0.15339299776947407,
 0.150093837982278,
 0.14969623771302393,
 0.14969623771302393,
 0.14969623771302393,
 0.14890247043403096,
 0.14777011582226215,
 0.14666320798326962,
 0.1449427589131121,
 0.1430397079704303,
 0.14291548761875733,
 0.14269544824634822,
 0.14269544824634822,
 0.14097096860865022,
 0.140028008402801,
 0.140028008402801,
 0.14002800840280097,
 0.1373087590952724,
 0.1373087590952724,
 0.13719886811400706,
 0.13629325512727639,
 0.1345345587992625,
 0.1345345587992625,
 0.13396328420673195,
 0.13284223283101426,
 0.13284223283101426,
 0.1320196723968899,
 0.1292719224987548,
 0.1292719224987548,
 0.12524485821702988,
 0.12507819831856498,
 0.12478354962115544,
 0.12478354962115543,
 0.1224989893875063,
 0.12126781251816647,
 0.12007302660701852,
 0.11941628680530642,
 0.1188177051572009,
 0.11651034560709259,
 0.11504474832710555,
 0.11504474832710555,
 0.11433239009500587,
 0.11433239009500587,
 0.11227217828476795,
 0.11128297681493143,
 0.10984700727621793,
 0.10969086361906957,
 0.10846522890932808,
 0.10846522890932808,
 0.10846522890932808,
 0.10846522890932808,
 0.10727978097782273,
 0.10713431680111603,
 0.10713431680111603,
 0.10635890745287925,
 0.10613237065158374,
 0.10585122480499262,
 0.10555008273018726,
 0.10502100630210075,
 0.10502100630210075,
 0.10461315619318828,
 0.10461315619318828,
 0.10398629135096286,
 0.10341753799900383,
 0.10289915108550529,
 0.10289915108550529,
 0.10226199851298272,
 0.10226199851298272,
 0.10226199851298272,
 0.10114434748483471,
 0.10114434748483471,
 0.10114434748483471,
 0.10090091909944687,
 0.09901475429766743,
 0.09901475429766743,
 0.09723055853282464,
 0.09723055853282464,
 0.0955394632947723,
 0.09553946329477228,
 0.09513029883089881,
 0.0942285694863091,
 0.0939336436627724,
 0.0939336436627724,
 0.09335200560186731,
 0.09249945801257606,
 0.09249945801257606,
 0.09249945801257606,
 0.09240616554505461,
 0.09166984970282112,
 0.09095085938862485,
 0.09095085938862485,
 0.09095085938862485,
 0.09086217008485092,
 0.0893088561378213,
 0.08856148855400953,
 0.08856148855400951,
 0.08712136837380642,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.0850871259623034,
 0.08458258116519013,
 0.08458258116519013,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08328707558159618,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08258401390153339,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08035073760083702,
 0.08035073760083702,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07756315349925287,
 0.07756315349925287,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07585826061362604,
 0.075755401907857,
 0.07504691899113898,
 0.07504691899113898,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07426106572325057,
 0.07426106572325057,
 0.07426106572325057,
 0.07349939363250378,
 0.07349939363250378,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07276068751089988,
 0.07276068751089988,
 0.07276068751089988,
 0.07204381596421111,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07134772412317411,
 0.07134772412317411,
 0.07067142711473183,
 0.07067142711473183,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.07001400420140048,
 0.07001400420140048,
 0.06937459350943204,
 0.06875238727711584,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06843538575349505,
 0.06755660236665673,
 0.06755660236665673,
 0.06755660236665673,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06642111641550713,
 0.06642111641550713,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06587443126365883,
 0.06587443126365883,
 0.06534102628035482,
 0.0653410262803548,
 0.06511170133930119,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06431196942844081,
 0.06381534447172756,
 0.06381534447172756,
 0.06381534447172756,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06369297552984819,
 0.06333004963811235,
 0.06333004963811235,
 0.06285566056425843,
 0.06285566056425843,
 0.06285566056425843,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06262242910851494,
 0.06237343238042664,
 0.06160411036336974,
 0.06160411036336974,
 0.06160411036336974,
 0.06160411036336974,
 0.06149400462680908,
 0.06105941257599791,
 0.06105941257599791,
 0.0610594125759979,
 0.06063390625908324,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.06063390625908323,
 0.059808916712167495,
 0.05970814340265321,
 0.05970814340265321,
 0.05970814340265321,
 0.05940885257860044,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.05882352941176469,
 0.05863223287455781,
 0.05797710356524483,
 0.05797710356524483,
 0.05797710356524483,
 0.05797710356524483,
 0.05797710356524483,
 0.05797710356524483,
 0.05788529495093047,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.057166195047502935,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.056388387443460086,
 0.05601120336112039,
 0.05564148840746572,
 0.05564148840746572,
 0.05564148840746572,
 0.05564148840746572,
 0.05564148840746572,
 0.05564148840746572,
 0.05564148840746572,
 0.05547950410914818,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05492350363810897,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.05423261445466404,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.053567158400558014,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05292561240249631,
 0.05278615073083401,
 0.05230657809659414,
 0.05230657809659414,
 0.05230657809659414,
 0.05230657809659414,
 0.05230657809659414,
 0.05230657809659414,
 0.05230657809659414,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051708768999501914,
 0.051449575542752646,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.05113099925649136,
 0.050572173742417355,
 0.050572173742417355,
 0.050572173742417355,
 0.050572173742417355,
 0.050572173742417355,
 0.050572173742417355,
 0.050572173742417355,
 0.050435306986068934,
 0.05003127932742599,
 0.05003127932742599,
 0.05003127932742599,
 0.05003127932742599,
 0.05003127932742599,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.049507377148833714,
 0.04899959575500252,
 0.04899959575500252,
 0.04899959575500252,
 0.04899959575500252,
 0.04899959575500252,
 0.04850712500726659,
 0.04850712500726659,
 0.04850712500726659,
 0.04850712500726659,
 0.04850712500726659,
 0.04850712500726659,
 0.04802921064280741,
 0.04802921064280741,
 0.04802921064280741,
 0.04802921064280741,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.047565149415449405,
 0.04736317334630044,
 0.04711428474315455,
 0.04711428474315455,
 0.04711428474315455,
 0.046676002800933654,
 0.046676002800933654,
 0.04639051998342824,
 0.04624972900628803,
 0.04624972900628803,
 0.04624972900628803,
 0.04624972900628803,
 0.04624972900628803,
 0.046203082772527305,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04583492485141056,
 0.04543108504242546,
 0.04543108504242546,
 0.04543108504242546,
 0.04543108504242546,
 0.045037734911104486,
 0.045037734911104486,
 0.045037734911104486,
 0.045037734911104486,
 0.045037734911104486,
 0.045037734911104486,
 0.04465442806891065,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.044280744277004756,
 0.04391628750910588,
 0.04391628750910588,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04356068418690321,
 0.04321358157014428,
 0.04321358157014428,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.042874646285627205,
 0.0425435629811517,
 0.0425435629811517,
 0.0425435629811517,
 0.0422200330920749,
 0.042008402520840295,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041594516540385144,
 0.041292006950766694,
 0.041292006950766694,
 0.041292006950766694,
 0.04080216746870543,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.040422604172722164,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.04014478229518501,
 0.039872611141445,
 0.039872611141445,
 0.039605901719066965,
 0.039605901719066965,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03934447376823168,
 0.03908815524970521,
 0.03883678186903086,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.03834824944236852,
 0.0378777009539285,
 0.0378777009539285,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03742405942825598,
 0.03720326659021622,
 0.036986336072765455,
 0.0367731565676461,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03656362120635653,
 0.03615507630310936,
 0.03615507630310936,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03575992699260758,
 0.03537745688386124,
 0.03519076715388934,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.03500700210070025,
 0.034647946433761845,
 0.034647946433761845,
 0.03460872973026777,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.034299717028501764,
 0.033796515420933156,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03300491809922247,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.03241018617760821,
 0.032124628310161774,
 0.032124628310161774,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.031846487764924096,
 0.03157544889753363,
 0.03131121455425747,

In [229]:
sorted(list(enumerate(simlarty[0])), reverse=True, key=lambda x:x[1])[1:6]

[(1216, 0.25142264225703365),
 (2409, 0.24404676504598818),
 (582, 0.21613144789263333),
 (507, 0.20812378052829614),
 (3730, 0.20797258270192573)]

In [230]:
simlarty

array([[1.        , 0.        , 0.03184649, ..., 0.02475369, 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02592379, 0.        ,
        0.0277137 ],
       [0.03184649, 0.        , 1.        , ..., 0.02680281, 0.        ,
        0.        ],
       ...,
       [0.02475369, 0.02592379, 0.02680281, ..., 1.        , 0.0412393 ,
        0.04454354],
       [0.        , 0.        , 0.        , ..., 0.0412393 , 1.        ,
        0.08817334],
       [0.        , 0.0277137 , 0.        , ..., 0.04454354, 0.08817334,
        1.        ]])

In [231]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = simlarty[movie_index] 
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [232]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Battle: Los Angeles
Independence Day
Falcon Rising

In [233]:
import pickle

In [234]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [235]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [236]:
pickle.dump(simlarty,open('simlarty.pkl','wb'))